.searchCity {
    width: 640px;
}
.city {
    width: 300px;
}
.search {
    margin-left: 100%;
    margin-right: 100%;
    width: 300px;
}
.cityCard {
    display:inline-block;
    margin-bottom: 30px;
    margin-right: 30px;
}