h1{
    font-weight: lighter;
}
.country {
    width: 300px;
}
.city {
    width: 300px;
}
.address {
    width: 300px;
}
.searchtick {
    margin-left: 50px;
    margin-right: 10px;
}
.spacebutton {
    width: 200px;
}
.blackbox {
    width: 1300px;
}
.checkbox {
    width:100px;
    margin-top: 20px;
}
.blackdiv {
    display: flex;
}
.space {
    width: 300px;
    margin-right: 10px;
}
.blacksearch {
    width: 700px;
}
.address {
    width: 300px;
    margin-right: 10px;
}
.addresssearch {
    width: 300px;
}